Este notebook tem como principal objectivo fazer uma pequena introdução a linguagem de programação python. É direcionado exclusivamente para pessoas que estão a dar os seus primeiros passos nesta linguagem.
<hr>

### Hello World

Como ponto de partida para aprender qualquer linguagem de programção é comum começar por imprimir a simples mensagem no ecra do teu computador. Isso pode ser alcançado através da função 'print(...)'.

In [1]:
print("Hello World")

Hello World

Ao contrário dos outros editores, jupyter notebook permite imprimir o ultimo objecto da célula sem ter necessariamente de invocar a função '**print()**'.

In [2]:
"Hello World"

'Hello World'

### Data Types

Python é considerado Object-Oriented Programming (OOP), ou em português Programação orientada por objectos. Logo todo valor é considerado um objecto e cada objecto pode ter diferentes 'Data types'. Vamos ver os principais 'Data Types' que existem em Python.

#### Integer & Float
int (Integer): Números que podem ser escritos sem a componente fracionária.

In [3]:
type(1) # inteiro

int

float (Float): São números que contém digitos de ponto fluante.

In [4]:
type(5.2)

float

### Operações Matemáticos

* Addition: +
* Subtraction: -
* Multiplication: *
* Division: /
* Exponent: **
* Remainder: %
* Integer division: //

In [5]:
2 + 2 # Adição

4

In [6]:
4 -5 #subtração

-1

In [7]:
10 * 3 # Multiplicação

30

In [8]:
10 / 2 # Divisão

5.0

In [9]:
3 **2 # Expoente

9

In [10]:
10%2 # Resto de divisão

0

In [11]:
10//2 # Valor do resto de divisão

5

### Boleano

Bolean (bool): Pode ser True/False.

In [12]:
type(True)

bool

### String
String (str): Uma string é um conjunto de caracteres. Em Python qualquer coisa dentro de 'quotes or double-quotes' é onsiderado string.

In [14]:
type('Hello World')

str

#### String Methods

In [23]:
print('Universidade de Cabo Verde'.upper())
print('Universidade de Cabo Verde'.lower())
print('Universidade de Cabo Verde'.title())

# count letters
print("Universidade de Cabo Verde".count('a')) # Conta quantas essa caracter existe na string
# replace string letters
print("Universidade de Kabo Verde".replace('K', 'C')) # Substitui K / C

UNIVERSIDADE DE CABO VERDE
universidade de cabo verde
Universidade De Cabo Verde
2
Universidade de Cabo Verde

### Variavéis
Serve para guardar valores or informações . Pode ser de vários tipos , como visto acima

In [24]:
a = 20
b = 'Cabo Verde'

Para obtermos a mensagem guardada das variaveis acima

In [25]:
a

20

In [26]:
b

'Cabo Verde'

####  String Concatenation

In [27]:
msg1 = 'Universidade'
msg2 = 'de'
msg3 = 'Cabo Verde'

In [28]:
msg1 + msg2 +msg3

'UniversidadedeCabo Verde'

In [32]:
msg4 = msg1 + ' ' + msg2 + ' ' + msg3  # Atenção '' # ' '
msg4

'Universidade de Cabo Verde'

In [35]:
msg4 = f'{msg1} {msg2} {msg3}'  # Outra forma usando f-string
msg4

'Universidade de Cabo Verde'

### Lista

Em Python, listas são usadas para guardar vários items numa simples variável

In [41]:
Ilha_sotavento = ['Maio','Santiago', 'Fogo', 'Brava']

Indexing - Podemos obter o valor de cada item e sua posição. Em python, uma lista inicie apartir de zero

In [50]:
print(Ilha_sotavento[0])
print(Ilha_sotavento[1])
print(Ilha_sotavento[2])
print(Ilha_sotavento[3])
print(Ilha_sotavento[-1]) # ultimo elemento da lista

Maio
Santiago
Fogo
Brava
Brava

Slicing - Acessar valores partes da lista //
nome_lista[start:stop]

In [54]:
print(Ilha_sotavento[0:3])
print(Ilha_sotavento[1:])
print(Ilha_sotavento[:2])

['Maio', 'Santiago', 'Fogo']
['Santiago', 'Fogo', 'Brava']
['Maio', 'Santiago']

#### Métodos e operaçoes numa lista
Podemos adcionar elementos na lista, remover elementos, actualizar valores etc.

**Adcionar elementos numa lista**

In [84]:
Ilhas = ['Maio','Santiago', 'Fogo', 'Brava']
Ilhas

['Maio', 'Santiago', 'Fogo', 'Brava']

In [85]:
Ilhas.insert(0, 'Santo Antão')
Ilhas

['Santo Antão', 'Maio', 'Santiago', 'Fogo', 'Brava']

In [86]:
print(len(Ilhas)) #tamanho da lista

5

Remover elementos da lista

In [87]:
Ilhas.remove('Santo Antão') #Simplesmente remover elementos da lista
print(Ilhas)
Ilhas.pop(1) # Remover na posição zero
print(Ilhas)
del Ilhas[2] 
print(Ilhas)

['Maio', 'Santiago', 'Fogo', 'Brava']
['Maio', 'Fogo', 'Brava']
['Maio', 'Fogo']

Sorting a list - Order valores por order crescente

In [88]:
numeros = [14, 32, 100, 7, 1, 2]
numeros.sort()
numeros

[1, 2, 7, 14, 32, 100]

In [89]:
numeros = [14, 32, 100, 7, 1, 2]
numeros.sort(reverse=True) # decrescente
numeros

[100, 32, 14, 7, 2, 1]

Actualizar valores na lista

In [90]:
numeros[0] = 2000
numeros

[2000, 32, 14, 7, 2, 1]

Dicionários - Guardar valores em 'key': pares de valores (um par é chamado de item)

In [91]:
Data = {'Nome': 'José Veiga', 'Idade': 24}

In [93]:
print(Data['Nome'])
print(Data['Idade'])

José Veiga
24

In [94]:
Data.keys()

dict_keys(['Nome', 'Idade'])

In [95]:
Data.values()

dict_values(['José Veiga', 24])

In [97]:
Data.items()

dict_items([('Nome', 'José Veiga'), ('Idade', 24)])

Adicionar / Actualizar

In [102]:
Data['Nacionalidade'] = 'Portugues'

In [103]:
Data

{'Nome': 'José Veiga', 'Idade': 24, 'Nacionalidade': 'Portugues'}

In [104]:
Data.update({'Nacionalidade':'CaboVerdeana','Linguagens':['Português', 'Ingles']})

In [105]:
Data

{'Nome': 'José Veiga',
 'Idade': 24,
 'Nacionalidade': 'CaboVerdeana',
 'Linguagens': ['Português', 'Ingles']}

In [110]:
Data['Linguagens'][0]

'Português'

### IF Statement

In [111]:
idade = 18

if idade>=18:
    print("You are an Adult.")
elif idade>=13:
    print("You are a teenager")
else:
    print("You are a kid")

You are an Adult.

For loop

In [114]:
val = []

for i in range(0, 10):
    val.append(i*2)

In [115]:
val

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [117]:
for i in val:
    if i == 0:
        print(i/2)

0.0

Loop through dictionary elements

In [119]:
for key, value in Data.items():
    print(key)
    print(value)

Nome
José Veiga
Idade
24
Nacionalidade
CaboVerdeana
Linguagens
['Português', 'Ingles']

### Functions
Built-in functions: Python has lots of built-ins functions that help us perform a specific task

* range()
* max()
* min()
* mean()
* len()
* round()
* linspace()
* type()
* ...

#### How to create a function:
We can also create our own functions

In [120]:
def soma(val1, val2):
    return val1 + val2

In [121]:
soma(12,23)

35

### Classes

In [122]:
class Operator(object):
    def __init__(self, operator_type, val1, val2):
        self.operator_type = operator_type
        self.val1 = val1
        self.val2 = val2
    
    def make_decision(self):
        if self.operator_type == 'summation':
            return self.val1 + self.val2
        elif self.operator_type == 'multiplication':
            return self.val1 * self.val2

In [124]:
O = Operator(operator_type='summation', val1=2, val2=2) # call my class
O.make_decision() #

4